---
layout: page
headerClass: netapp
title: NetApp Insight
subtitle: Las Vegas, September 26-29, 2016
---
<div class="section sessions main">
  <div class="inner">
    <div class="wrap">
      <h1>Come see our new FlexPod and NetApp storage design automation capabilities</h1>
    </div>
  </div>
</div>

<div class="section sessions title">
  <div class="inner">
    <div class="wrap">
      <h2>Sessions</h2>
    </div>
  </div>
</div>


{% include session.html id="607142TT" %}
{% include session.html id="859911TT" %}
