.sessions {

  &.main {
    background-color: #F9FAFB;
    padding: 40px 0;
  }

  &.title {
    padding: 0;
    padding-top: 50px;
  }

  .inner {
    width: 100%;
    margin: 0 auto;


    h1 {
      color: #21276d;
      letter-spacing: .02em;
      #font .aktiv(36, 400, 50px);
      margin: 49px 0;
    }

    h2 {
      color: #818892;
      #font .aktiv(48, 400, 1.2em);
      letter-spacing: 0.015em;
    }

    @media (max-width: 1024px){
      padding: 0;
    }

    .wrap {
      width: 942px;
      margin: auto;
      padding: 0;

      @media (max-width: 1024px){
        width: auto;
        padding: 0 20px;
      }

      .icon {
        margin-top: 49px;
        margin-bottom: 48px;
      }

      .session {
        padding: 0 40px;
        margin: 0;
        text-align: left;

        @media (max-width: 768px){
          padding: 20px;
        }

        > header {
          h2 {
            color: #21276d;
            #font .aktiv(28, 400, 36px);
            margin-top: 30px;
            margin-bottom: 10px;
          }

          .code {
            #font .nimbus(16, 300, 25px);
            color: #222;
            display: block;
            margin-top: 10px;
          }
        }

        > article {
          > p {
            color: #818892;
            #font .nimbus(16, 300, 1.5em);
          }
        }

        .data-wrap {
          margin-top: 10px;
          height: 180px;

          ul {

            li {
              //color: #818892;
              width: 40%;
              float: left;

              &:nth-child(even) {
                width: 60%;
              }

              h3 {
                #font .nimbus(16, 300, 1.5em);
                color: #222;
                margin: 10px 0;
              }

              .list {
                margin-top: 10px;

                p {
                  #font .nimbus(16, 300, 1.5em);
                  color: #818892;
                  padding-left: 30px;

                  &.schedule {
                    background: url(../images/calendar-2.png) no-repeat 0 0;
                    .background-size(18px 18px);
                    background-position-y: 1px;
                  }

                  &.presenter {
                    background: url(../images/business-statistics-2.png) no-repeat 0 0;
                    .background-size(18px 18px);
                    background-position-y: 1px;
                  }
                }
              }
            }
          }
        }

        @media (max-width: 600px){
          .data-wrap {

            ul {
              li {
                float: none;
                width: 100%;

                &:nth-child(even) {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
