{% for event in site.pages %}
  {% if event.type == 'event' and event.id == include.id %}
    <div class="section events">
      <div class="inner">
        <div class="wrap">
          <span class="title">{{ event.title }}</span>
          <div class="event">
            <h3>{{ event.text }}</h3>
          </div>
          <div class="call-to-action to-right">
            <a href="{{ site.baseurl }}/netapp/insight-berlin-2016.html" class="button secondary bigger">Learn more <span class="arrow"></span></a>
        </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
