  <header class="section header {{ page.headerClass }}">
    <div class="inner">
      <div class="navigation" id="navigation">
        <div class="nav-inner">
          <div class="brand">
              <a href="{{ site.baseurl }}/" class="logo">{{ site.author}}</a>
          </div>
          <div class="nav" id="nav">
            <span class="responsive" id="menu-link">Menu</span>
            <ul class="items">
              <li><a href="{{ site.baseurl }}/features.html">Features</a></li>
              <li><a href="{{ site.baseurl }}/pricing.html">Pricing</a></li>
              <li class="more last">
                <span class="toggle">More</span>
                <div class="hidden-links">
                  <div class="nav">
                    <ul>
                      <li><a href="{{ site.baseurl }}/netapp.html">NetApp Lanamark One</a></li>
                      <li class="last"><a href="{{ site.baseurl }}/about-us.html">About Us</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h1>
        {% if page.url contains 'blog' %}
          Blog
          <small>Have question?</small>
        {% else %}
          {{ page.title }}
          <small>{{ page.subtitle }}</small>
        {% endif %}
      </h1>
      {% if page.path == "index.html" %}
     <div class="one">
        <a href="{{ site.baseurl }}/features.html" class="button main bigger"><span>Lanamark One Features</span></a>
      </div>
      <div class="actions">
        <div class="left">
          <a href="{{ site.baseurl }}/netapp/insight-las-vegas-2016.html"><h3>NetApp Insight
            <small>September 26-29, 2016</small></h3>
          </a>
        </div>
        <div class="right">
          <a href="{{ site.baseurl }}/netapp.html" class="button secondary bigger"><span>NetApp Lanamark One</span></a>
        </div>
      </div>
      {% endif %}
      {% if page.path == "netapp/insight-las-vegas-2016.html" %}
        <div class="actions netapp">
          <div class="left">
            <h3>Booth 48
              <small>Tools & Resources</small>
            </h3>
          </div>
          <div class="right">
            <h3>Las Vegas
              <small>September 26-29, 2016</small>
            </h3>
          </div>
        </div>
      {% endif %}
    </div>
  </header>
